.DS_Store
/LeetCode/obj/Debug/net8.0/LeetCode.assets.cache
/LeetCode/obj/LeetCode.csproj.nuget.dgspec.json
/.idea/.idea.LeetCode/.idea/.name
/LeetCode/.DS_Store
/LeetCode/obj/project.nuget.caches
/LeetCode/obj/
Leetcode-Solutions/LeetCode/bin/
Leetcode-Solutions/LeetCode/obj/
Leetcode-Solutions/LeetCode/bin/Debug/